* {
  /* font-family: 'Satisfy', cursive; */
  font-family: 'Lato', sans-serif;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}




#iconDelete {
  position: absolute;
  right: 50px;
  top: 7px;
  font-size: 25px;
}

#iconEdit {
  position: absolute;
  right: 6px;
  top: 7px;
  font-size: 25px;
}


#login {
  display: block;
  width: 30%;
  margin: auto;
  border: 1px solid black;
  border-radius: 10px;
  padding: 60px 60px;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f8f8f8;
}

#signup {
  display: block;
  width: 30%;
  margin: auto;
  border: 1px solid black;
  border-radius: 10px;
  padding: 40px 30px;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f8f8f8;
}

#user {
  cursor: pointer;
  color: white;
  margin: 8px;
  font-size: 30px;
}


@media screen and (max-width: 990px) {
  #user {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  #login {
    width: 90%;
    padding: 60px 23px;
  }

  #signup {
    width: 90%;
    padding: 40px 18px;
    top: 41%;
  }

  #signup h1 {
    font-size: 21;
  }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
  #login {
    width: 50%;
  }

  #signup {
    width: 50%;
    top: 45%;
  }
}

@media screen and (min-width: 500px) and (max-width: 700px) {
  #login {
    width: 70%;
  }

  #signup {
    top: 45%;
    width: 70%;
  }
}